<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=Promise"></script>
    <script src="https://cdn01.boxcdn.net/platform/preview/1.58.3/en-US/preview.js"></script>
    <link rel="stylesheet" href="https://cdn01.boxcdn.net/platform/preview/1.58.3/en-US/preview.css" />
  </head>
  <body>
    <div class="preview-container" style="height:400px;margin: 0px;width:100%;"></div>
    {{> contentPreview}}
    {{> footer}}
  </body>
</html>
